<div id="header" class="header">
    <div id="login-bar" class="right_header_bar">
        <form id="login-form" method="POST" action="login/authenticate" class="login-form">
            <div class="login-input-fields">
                <input id="username" name="username" type="text" placeholder="Username">
                <input id="password" name="password" type="password" placeholder="Password">
                <br>
                <input id="remember" name="remember" type="checkbox" class="login-checkbox">
                <label for="remember" class="login-checkbox-label">Remember Me</label>
            </div>
            <input id="login-button" type="submit" value="Login" class="header_button">
        </form>
        <div>
            <button id="signup-button" class="header_button">Sign Up</button>
        </div>
    </div>
</div>