<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    <title>Default Page</title>
    {% endblock %}
</head>
<body>
    {% include "header.html.jinja" %}
    <div id="content" class="content">
        {% block content %}
        Content Placeholder
        {% endblock %}
    </div>
    <div id="footer" class="footer">
        Ayy Lmao
    </div>
</body>

